html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td {
  margin:0;
  padding:0;
}
body {
  background-color:#f7f5ee;
  color:#073642;
  font-size:14px;
  line-height:18px;
  font-family:"Segoe UI", "Droid Sans", Verdana, Tahoma, helvetica, sans-serif;
  height:100%;
  min-width:50% !important;
  width:100%;
  z-index:0;
}
h1 {
  font-size:140%;
  font-weight:normal;
  margin:0.2em 0 0.4em 0;
}
h1, h2, h3 { font-family:"Calibri"; }
a {
  color:#268bd2;
  text-decoration:none;
}
a:hover {
  text-shadow:0 0 1px #073642;
  cursor:pointer;
  text-decoration:underline;
}
#indicator {
  background-image:url(img/indicator3.gif);
  background-repeat:no-repeat;
  display:none;
  height:50px;
  left:5px;
  opacity:0.5;
  position:fixed;
  top:5px;
  width:50px;
  z-index:100;
}
#frame {
  margin-left:auto;
  margin-right:auto;
  padding-top:15px;
  width:95%;
}
.tabs {
  border-bottom:1px solid #c9c7c6;
  font-size:14px;
  list-style:none;
  margin:0;
  position:relative;
  text-align:left;
  z-index:1;
}
.tabs a {
  color:#073642;
  line-height:32px;
  padding:8px 14px;
  text-decoration:none;
}
.tabs a.fixed { color:#6c71c4; }
.tabs li {
  display:inline-block;
  line-height:31px;
  margin:0 2px -1px 1px;
  position:relative;
}
.tabs li.selected {
  background:#e6eaef;
  border:1px solid #c9c7c6;
  border-bottom:0;
  margin-left:0px;
  z-index:100;
}
.tabs li.selected a {
  color:#002b36;
  font-weight:bold;
}
.tabs li:hover:not(.selected) {
  background:#eee8d5;
  height:31px;
}
.tabs a img {
  height:16px;
  margin-bottom:3px;
  opacity:0.6;
  vertical-align:middle;
}
.tabs p.today {
  color:#93a1a1;
  font-size:90%;
  position:absolute;
  right:-10px;
  top:-6px;
}
.tabs p.today:hover { color:#6c71c4; }
#header {
  background-color:#e6eaef;
  border-bottom:1px solid #d7d5d4;
  margin-bottom:0px;
  padding:8px 220px 8px 120px;
  position:relative;
}
#header .search {
  margin:3px 3em 0 2.5em;
  position:relative;
}
#header .search a {
  opacity:0.3;
  position:absolute;
  right:-32px;
  top:4px;
}
#header .search a img { width:16px; }
#header .search a:hover { opacity:0.6; }
#header .search #search-box {
  border:1px solid #d7d5d4;
  font:14px Verdana, helvetica, sans-serif;
  height:1.32em;
  margin-bottom:2px;
  padding:3px 6px;
  resize:none;
  vertical-align:middle;
  width:100%;
}
#header .search #search-box:active { border-color:#93a1a1; }
#header .search #search-box::-webkit-input-placeholder { color:#d7d5d4 !important; }
#header .search #search-box:-moz-placeholder { color:#d7d5d4 !important; }
#header .search #search-box.big { height:4.5em; }
#header .search #reset-search {
  display:none;
  height:16px;
  opacity:0.2;
  position:absolute;
  right:-6px;
  top:5px;
}
#header .search #reset-search:hover { opacity:0.5; }
#header .tabtools {
  height:36px;
  margin-top:5px;
  opacity:0.5;
  padding:4px;
  position:absolute;
  right:0px;
  top:0px;
  width:192px;
}
#header .tabtools:hover {
  cursor:pointer;
  opacity:0.6;
}
.logo {
  font-family:"Open Sans", "Narkism", "Droid Sans", "Trebuchet", "Arial";
  left:0px;
  padding:16px 10px 16px 18px;
  position:absolute;
  top:0px;
  width:120px;
}
.logo a {
  float:left;
  position:relative;
  right:0;
  top:-2px;
}
.logo a:hover { text-shadow:1px 0px 1px #839496; }
.logo p {
  color:#607d86;
  float:left;
  font-size:1.4em;
  font-weight:bold;
  vertical-align:top;
}
.logo p.red { color:#d1a4a7; }
#content {
  border:1px solid #c9c7c6;
  border-bottom:0;
  border-top:0;
  overflow:hidden;
}
.columns {
  display:table;
  float:left;
  width:100%;
}
.columns .column {
  border:0;
  display:table-cell;
  padding:10px 12px;
  vertical-align:top;
}
.columns .projects {
  background:#eee8d5;
  border-right:1px solid #d7d5d4;
  width:18%;
}
.columns .meta {
  background:#eee8d5;
  border-left:1px solid #d7d5d4;
  width:12%;
}
.columns h1 {
  display:block;
  font-size:20px;
  margin-bottom:8px;
  padding-bottom:4px;
}
.projects h1 { color:#dc322f; }
.projects ol { list-style:none; }
.projects ol li {
  color:#dc322f;
  font-family:"Calibri";
  font-size:115%;
  margin-bottom:2px;
  margin-left:0.6em;
  padding-left:0.3em;
  text-indent:-0.3em;
}
.projects ol li:hover {
  cursor:pointer;
  text-shadow:0 0 1px #cb4b16;
}
.meta h1 { color:#268bd2; }
.meta h1:nth-child(3) { margin-top:1em; }
.meta li {
  line-height:1.6em;
  list-style:none;
  margin-bottom:2px;
  margin-left:0.4em;
  padding-bottom:2px;
}
#view-tasks h1 { color:#073642; }
#view-tasks h1 .sortable {
  display:inline;
  float:right;
  margin-right:2px;
}
#view-tasks h1 .sortable img {
  height:22px;
  opacity:0.3;
}
#view-tasks h1 .just-info {
  font-size:100%;
  margin:0 10px 0 0;
}
#view-tasks h2 {
  border-bottom:1px solid #eee8d5;
  color:#586e75;
  font-size:115%;
  padding-bottom:2px;
  padding-left:0.1em;
}
#view-tasks ul { list-style:none; }
#view-tasks ul#sortable li { cursor:ns-resize; }
#view-tasks li {
  border:1px transparent solid;
  line-height:110%;
  margin-top:1px;
  padding-top:2px;
  position:relative;
  padding-left:2em;
  text-indent:-2em;
}
#view-tasks li:hover {
  background:#fafafa;
  border:1px #d7d5d4 dotted;
}
#view-tasks li.project {
  border:1px transparent solid;
  color:#dc322f;
  display:block;
  font-size:110%;
  margin-bottom:3px;
  margin-left:0.2em;
  margin-top:12px;
}
#view-tasks li.project:hover {
  background:#fafafa;
  border:1px #d7d5d4 dotted;
}
#view-tasks li.project p {
  display:inline;
  padding:2px 0;
}
#view-tasks li.project p:hover {
  cursor:pointer;
  text-shadow:0 0 1px #cb4b16;
}
#view-tasks li.project ul { padding-top:3px; }
#view-tasks li.task { margin-left:1em; }
#view-tasks li.task p {
  display:inline;
  margin-left:1px;
  padding:2px 3px;
  vertical-align:4px;
}
#view-tasks li.task p:hover { cursor:pointer; }
#view-tasks li.task .tag, #view-tasks li.task .date-tag, #view-tasks li.task .project {
  margin-left:7px;
  vertical-align:6px;
  font-size:80%;
}
#view-tasks li.task .project {
  border:1px dotted #d7d5d4;
  color:#dc9897;
  font-size:85%;
  padding:2px 4px;
}
#view-tasks li.task .project:hover {
  cursor:pointer;
  box-shadow:0px 0px 2px #657b83;
}
#view-tasks li.task input {
  padding:2px 4px;
  vertical-align:1px;
}
#view-tasks li.task .check-done {
  height:11px;
  margin:0px;
  opacity:0.3;
  padding-top:2px;
  width:11px;
}
#view-tasks li.task span.task-buttons {
  background:rgba(255,255,255,0.3);
  left:-80px;
  padding:3px 7px;
  position:absolute;
  text-align:right;
  top:-1px;
  width:70px !important;
}
#view-tasks li.task span.task-buttons input {
  height:14px;
  opacity:0.5;
  padding:1px 3px;
  width:14px;
}
#view-tasks li.task span.task-buttons input:hover {
  cursor:pointer;
  height:16px;
  padding:0 2px;
  width:16px;
}
#view-tasks li.info {
  color:#657b83;
  font-size:97%;
  font-weight:normal;
  margin-bottom:8px;
  margin-left:1em;
  margin-top:8px;
}
#view-tasks li .note {
  border:0;
  color:#839496;
  display:list-item;
  font-style:normal;
  font-size:85%;
  list-style:none;
  margin-left:0;
  margin-top:-2px;
  padding-left:0;
  text-indent:0;
}
#view-tasks li .note p {
  display:block !important;
  line-height:130%;
  margin-left:0;
  padding:0 0 2px 0;
}
#view-tasks li .note .more {
  color:#d7d5d4;
  margin-left:0.5em;
  vertical-align:bottom;
}
#view-tasks li .hidden-note {
  border:0;
  color:#839496;
  display:list-item;
  font-style:normal;
  font-size:85%;
  list-style:none;
  margin-left:0;
  margin-top:-2px;
  padding-left:0;
  text-indent:0;
  display:none;
}
#view-tasks li .hidden-note p {
  display:block !important;
  line-height:130%;
  margin-left:0;
  padding:0 0 2px 0;
}
#view-tasks li .hidden-note .more {
  color:#d7d5d4;
  margin-left:0.5em;
  vertical-align:bottom;
}
#view-tasks li .reveal:hover { cursor:pointer; }
#edit-tasks {
  display:none;
  margin:0 8px;
}
#edit-tasks textarea {
  background:#ffffb7;
  border:1px solid #d7d5d4;
  clear:both;
  float:left;
  font:14px verdana, helvetica, sans-serif;
  height:500px;
  line-height:150%;
  margin-bottom:6px;
  margin-top:3px;
  padding:3px;
  width:99%;
}
#edit-tasks .find-replace-bar {
  background:#eee8d5;
  border:1px #d7d5d4 solid;
  float:right;
  margin:0 0 3px 0;
  padding:7px;
}
#edit-tasks .find-replace-bar input, #edit-tasks .find-replace-bar label {
  float:right;
  margin-left:6px;
}
#edit-tasks div .icon {
  float:left;
  opacity:0.6;
}
.tag {
  color:#93a1a1;
  background:#eaeff7;
  border:1px dotted #eaeaea;
  font-size:90%;
  padding:2px 4px;
}
.tag:hover {
  cursor:pointer;
  box-shadow:0px 0px 2px #657b83;
}
.date-tag {
  color:#93a1a1;
  background:#eaeff7;
  border:1px dotted #eaeaea;
  font-size:90%;
  padding:2px 4px;
  background-color:#efe8cf;
}
.date-tag:hover {
  cursor:pointer;
  box-shadow:0px 0px 2px #657b83;
}
.strike {
  color:#bcbcbc;
  text-decoration:line-through;
}
.starred {
  background:#ffffb7;
  padding:0 4px 0 4px;
}
.filters li span { padding:3px 5px 2px; }
.filters li span:hover {
  cursor:pointer;
  box-shadow:0px 0px 2px #657b83;
}
.bk-yellow { background:#ffffb7; }
.bk-gray { background:#eaeaea; }
.bk-blue { background:#e1efff; }
.bk-cyan { background:#d5e9ff; }
.bk-green { background:#dbfcb9; }
.bk-red { background:#ffe6e6; }
.bk-brown { background:#eae0c9; }
.bk-violet { background:#f9dcff; }
.just-info {
  color:gray;
  font-size:90%;
  margin-left:10px;
  margin-top:4px;
}
.freq {
  color:#93a1a1;
  display:inline;
  font-weight:normal;
  font-size:9px;
  font-family:Arial;
  margin-left:0.35em;
  opacity:0.8;
  vertical-align:top;
}
#footer {
  background-color:#e6eaef;
  border-top:1px solid #d7d5d4;
  border-bottom:1px solid #c9c7c6;
  border-left:0;
  border-right:0;
  clear:both;
  float:left;
  font-size:90%;
  height:20px;
  line-height:20px;
  margin:0;
  padding:5px 10px;
  position:relative;
  text-align:center;
  vertical-align:middle;
  width:100%;
}
#footer p {
  color:#586e75;
  float:left;
}
#footer a {
  padding:0 5px 0 5px;
  text-decoration:none;
}
#footer a.logout {
  color:#6c71c4;
  float:left;
  margin-left:20px;
}
#footer .insert {
  float:right;
  margin-right:15px;
  opacity:0.5;
}
#footer .insert img {
  height:18px;
  display:none;
}
#footer .lang {
  color:#586e75;
  float:right;
  margin-right:10px;
}
#footer select {
  border-color:#d7d5d4;
  border-width:1px;
  border-style:solid;
  color:#586e75;
  float:right;
  margin:0 15px 0 5px;
  vertical-align:top;
}
.version {
  color:#c9c7c6;
  font-size:75%;
  float:left;
  margin:15px 0 30px 0;
  text-align:center;
  width:99.9%;
}
.version span { padding:0 5px; }
.icon {
  border:0;
  margin-right:10px;
  vertical-align:top;
  height:32px;
  padding:2px;
  width:32px;
}
.icon:hover {
  cursor:pointer;
  height:36px;
  padding:0;
  width:36px;
}
.tool-icon {
  height:24px;
  margin:2px 3px 0 3px;
  padding:2px;
  width:24px;
}
.tool-icon:hover {
  cursor:pointer;
  height:28px;
  padding:0px;
  width:28px;
}
input:disabled { opacity:0.2; }
.editable-box {
  margin-left:6px;
  text-indent:0px;
}
.editable-box text, .editable-box textarea {
  background:#ffffb7;
  border:1px solid #d7d5d4;
  font:14px "Segoe UI";
  margin:0 0px 3px 7px;
  margin-left:5px;
  padding:2px 0 2px 6px;
  position:relative;
  width:97%;
}
.editable-box img {
  left:0;
  margin-left:3px;
  margin-right:3px;
  position:absolute;
  height:24px;
  margin:2px 3px 0 3px;
  padding:2px;
  width:24px;
}
.editable-box img:hover {
  cursor:pointer;
  height:28px;
  padding:0px;
  width:28px;
}
.editable-box img.top { top:1px; }
.editable-box img.bottom { top:33px; }
#message-banner {
  color:#586e75;
  height:20px;
  left:0;
  opacity:0;
  padding:6px 10px;
  position:absolute;
  text-align:center;
  top:-20px;
  z-index:10;
}
#cheatsheet {
  clear:both;
  color:#657b83;
  float:left;
}
#cheatsheet div {
  float:right;
  height:auto;
}
#cheatsheet table {
  background:#eee8d5;
  border:1px solid #d7d5d4;
  border-collapse:collapse;
  margin-bottom:10px;
  margin-top:10px;
}
#cheatsheet th, #cheatsheet td {
  border-collapse:collapse;
  border-color:#d7d5d4;
  border-style:solid;
  border-width:1px;
  padding:0.4em;
}
#cheatsheet td { padding-left:0.8em; }
#login-msg {
  height:240px;
  left:50%;
  margin:0 0 0 -230px;
  padding:30px 0;
  position:absolute;
  top:0;
  width:400px;
  z-index:0;
}
#login-msg p {
  color:#d7d5d4;
  text-align:center;
  font-size:24px;
  line-height:30px;
}
#login-err {
  height:240px;
  left:50%;
  margin:-130px 0 0 230px;
  padding:30px 0;
  position:absolute;
  top:50%;
  width:240px;
  z-index:0;
}
#login-err ul {
  color:#dc322f;
  text-align:left;
  font-size:15px;
  line-height:20px;
}
#login-form {
  font-family:Segoe UI, Arial;
  height:240px;
  margin:-150px 0 0 -230px;
  position:absolute;
  left:50%;
  top:50%;
  width:400px;
  z-index:0;
}
#login-form form {
  border:1px solid #d7d5d4;
  border-top:0;
  padding:30px 30px 26px 30px;
}
#login-form form#register { display:none; }
#login-form fieldset {
  border:0;
  padding:0;
  margin:0;
}
#login-form .inputs input {
  border:1px solid #d7d5d4;
  margin:0 0 10px 0;
  padding:5px 10px 5px 10px;
  width:316px;
}
#login-form .inputs input:focus {
  background-color:#ffffff;
  border-color:#e8c291;
  outline:none;
}
#login-form .actions { margin:25px 0 0 0; }
#login-form .submit {
  background-color:#e6eaef;
  border-color:#c9c7c6;
  border-style:solid;
  border-width:1px;
  color:#073642;
  cursor:pointer;
  float:left;
  font:bold 15px Arial, Helvetica;
  height:35px;
  padding:0;
  text-shadow:0 1px 0 rgba(255,255,255,0.5);
  width:120px;
}
#login-form .submit:hover, #login-form .submit:focus { background-color:#eee8d5; }
#login-form .submit:active {
  box-shadow:0 1px 4px rgba(0,0,0,0.5) inset;
  -moz-box-shadow:0 1px 4px rgba(0,0,0,0.5) inset;
  -webkit-box-shadow:0 1px 4px rgba(0,0,0,0.5) inset;
  outline:none;
}
#login-form .submit::-moz-focus-inner { border:0; }
#login-form .actions a {
  color:#268bd2;
  float:right;
  line-height:35px;
  margin-left:10px;
}
