/* Solarized Colour Scheme */
@base03:     #002b36;
@base02:     #073642;
@base01:     #586e75;
@base00:     #657b83;
@base0:      #839496;
@base1:      #93a1a1;
@base2:      #eee8d5;
@base3:      #fdf6e3;
@yellow:     #b58900;
@orange:     #cb4b16;
@red:        #dc322f;
@magenta:    #d33682;
@violet:     #6c71c4;
@blue:       #268bd2;
@cyan:       #2aa198;
@green:      #859900;

// tag and filter highlighting
@bk-yellow:  #FFFFB7;
@bk-orange:  #CBB8B0;
@bk-red:     #FFE6E6;
@bk-magenta: #D3BBC7;
@bk-violet:  #F9DCFF;
@bk-blue:    #E1EFFF;
@bk-cyan:    #D5E9FF;
@bk-green:   #DBFCB9;
@bk-hilite:  #FF9;
@bk-edit:    #FFFFAA;
@bk-brown:   #EAE0C9;
@bk-gray:    #EAEAEA;

// other colours
@background: #F7F5EE;
@surround:   #F4F0E3;
@backdrop:   #D9D5C1;
@border:     #D7D5D4;
@tab-border: #C9C7C6;
@task-select:#FAFAFA;
@aside:      #E6EAEF;
@tag:        #EAEFF7;
@date-tag:   #EFE8CF;
@proj-tag:   #DC9897;
@strike:     #BCBCBC;
@eraser:     #D1A4A7;
@pencil:     #607D86;

// sizes
@content-width:     95%;
@project-col:       18%;
@tag-col:           12%;


/* basic reset */
html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td {
    margin: 0; padding: 0;
}

/* basic font and sizes */
body {
    background-color: @background;
    color: @base02;
    font-size: 14px;
    line-height: 18px;
    font-family: "Segoe UI", "Droid Sans", Verdana, Tahoma, helvetica, sans-serif;
    height: 100%;
    min-width: 50% !important;
    width: 100%;
    z-index: 0;
}
h1 {
    font-size: 140%;
    font-weight: normal;
    margin: 0.2em 0 0.4em 0;
}
h1, h2, h3 {
    font-family: "Calibri";
}
a {
    color: @blue;
    text-decoration: none;
}
a:hover {
    text-shadow: 0 0 1px @base02;
    cursor: pointer;
    text-decoration: underline;
}

// some general styling mixins

.hover() {
    &:hover {
        cursor: pointer;
        box-shadow: 0px 0px 2px @base00;
    }
}

.topic-hover() {
    &:hover {
        cursor: pointer;
        text-shadow: 0 0 1px @orange;
    }
}

.box-hover() {
    &:hover {
        background: @task-select;
        border: 1px @border dotted;
    }
}



// the "something's happening" throbber
#indicator {
    background-image: url(img/indicator3.gif);
    background-repeat: no-repeat;
    display: none;
    height: 50px;
    left: 5px;
    opacity: 0.5;
    position: fixed;
    top: 5px;
    width: 50px;
    z-index: 100;
}

// area of viewport used for content display
#frame {
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    width: @content-width;
}



//*********************************
//            TABS
//********************************

.tabs {
    border-bottom: 1px solid @tab-border;
    //font-family: "Segoe UI";
    font-size: 14px;
    list-style: none;
    margin: 0;
    position: relative;
    text-align: left;
    z-index: 1;

    a {
        color: @base02;
        line-height: 32px;
        padding: 8px 14px;
        text-decoration: none;
        &.fixed {
            color: @violet;
        }
    }

    li {
        display: inline-block;
        line-height: 31px;
        margin: 0 2px -1px 1px;
        position: relative;
    }

    li.selected {
        background: @aside;
        border: 1px solid @tab-border;
        border-bottom: 0;
        margin-left: 0px;
        z-index: 100;
        a {
            color: @base03;
            font-weight: bold;
        }
    }

    li:hover:not(.selected) {
        background: @base2;
        height: 31px;
    }

    a img {
        height: 16px;
        margin-bottom: 3px;
        opacity: 0.6;
        vertical-align: middle;
    }

    p.today {
        color: @base1;
        font-size: 90%;
        position: absolute;
        right: -10px;
        top: -6px;
        &:hover {
            color: @violet;
        }
    }
}



// **************************
//         HEADER
// **************************

#header {
    background-color: @aside;
    border-bottom: 1px solid @border;
    margin-bottom: 0px;
    padding: 8px 220px 8px 120px;
    position: relative;

    .search {
        margin: 3px 3em 0 2.5em;
        position: relative;

        a {
            opacity: 0.3;
            position: absolute;
            right: -32px;
            top: 4px;
            img {
                width: 16px;
            }
            &:hover {
                opacity: 0.6;
            }
        }
        #search-box {
            border: 1px solid @border;
            font: 14px Verdana, helvetica, sans-serif;
            height: 1.32em;
            margin-bottom: 2px;
            padding: 3px 6px;
            resize: none;
            vertical-align: middle;
            width: 100%;
            &:active {
                border-color: @base1;
            }
            &::-webkit-input-placeholder {
                color: @border !important;
            }
            &:-moz-placeholder {
                color: @border !important;
            }
            &.big {
                height: 4.5em;
            }
        }
        // the little reset search symbol
        #reset-search {
            display: none;
            height: 16px;
            opacity: 0.2;
            position: absolute;
            right: -6px;
            top: 5px;
            &:hover {
                opacity: 0.5;
            }
        }
    }
    .tabtools {
        height: 36px;
        margin-top: 5px;
        opacity: 0.5;
        padding: 4px;
        position: absolute;
        right: 0px;
        top: 0px;
        width: 192px;
        &:hover {
            cursor: pointer;
            opacity: 0.6;
        }
    }
}

.logo {
    font-family: "Open Sans", "Narkism", "Droid Sans", "Trebuchet", "Arial";
    left: 0px;
    padding: 16px 10px 16px 18px;
    position: absolute;
    top: 0px;
    width: 120px;

    a {
        float: left;
        position: relative;
        right: 0;
        top: -2px;
        &:hover {
            text-shadow: 1px 0px 1px @base0;
        }
    }

    p {
        color: @pencil;
        float: left;
        font-size: 1.4em;
        font-weight: bold;
        vertical-align: top;
        &.red {
            color: @eraser;
        }
    }
}


// *************************
//      CONTENT COLUMNS
// *************************

#content {
    border: 1px solid @tab-border;
    border-bottom: 0;
    border-top: 0;
    overflow: hidden;
}

.columns {
    display: table;
    float: left;
    width: 100%;

    .column {
        border: 0;
        display: table-cell;
        padding: 10px 12px;
        vertical-align: top;
    }

    .projects {
        background: @base2;
        border-right: 1px solid @border;
        width: @project-col;
    }
    .tasks {
    }
    .meta {
        background: @base2;
        border-left: 1px solid @border;
        width: @tag-col;
    }
    // main content headers
    h1 {
        display: block;
        font-size: 20px;
        margin-bottom: 8px;
        padding-bottom: 4px;
    }
}



// PROJECTS SIDEBAR

.projects {
    h1 {
        color: @red;
    }
    ol {
        list-style: none;
        li {
            color: @red;
            font-family: "Calibri";
            font-size: 115%;
            margin-bottom: 2px;
            margin-left: 0.6em;
            .hanging-indent(0.3em);
            .topic-hover();
        }
    }
}



// META SIDEBAR: filters and tags

.meta {
    h1 {
        color: @blue;
    }
    h1:nth-child(3) {
        margin-top: 1em;
    }
    li {
        line-height: 1.6em;
        list-style: none;
        margin-bottom: 2px;
        margin-left: 0.4em;
        padding-bottom: 2px;
    }
}



// TASKS: main display list

#view-tasks {

    // task list title
    h1 {
        color: @base02;

        .sortable {
            display: inline;
            float: right;
            margin-right: 2px;
            img {
                height: 22px;
                opacity: 0.3;
            }
        }
        .just-info {
            font-size: 100%;
            margin: 0 10px 0 0;
        }
    }

    // search section headers
    h2 {
        border-bottom: 1px solid @base2;
        color: @base01;
        font-size: 115%;
        padding-bottom: 2px;
        padding-left: 0.1em;
    }

    ul {
        list-style: none;

        &#sortable li {
            cursor: ns-resize;
        }
    }

    li {
        border: 1px transparent solid;
        line-height: 110%;
        margin-top: 1px;
        padding-top: 2px;
        position: relative;
        .box-hover();
        .hanging-indent();

        &.project {
            border: 1px transparent solid;
            color: @red;
            display: block;
            font-size: 110%;
            margin-bottom: 3px;
            margin-left: 0.2em;
            margin-top: 12px;
            .box-hover();
            p {
                display: inline;
                padding: 2px 0;
                .topic-hover();
            }
            ul {
                padding-top: 3px;
            }
        }

        &.task {
            //margin-bottom: 0.15em;
            margin-left: 1em;

            // body text with a task
            p {
                display: inline;
                margin-left: 1px;
                padding: 2px 3px;
                vertical-align: 4px;
                &:hover {
                    cursor: pointer;
                }
            }

            // little project/tag labels at end of task when searching
            .tag, .date-tag, .project {
                margin-left: 7px;
                vertical-align: 6px;
                font-size: 80%;
            }

            .project {
                border: 1px dotted @border;
                color: @proj-tag;
                font-size: 85%;
                padding: 2px 4px;
                .hover();
            }

            input {
                padding: 2px 4px;
                vertical-align: 1px;
            }

            .check-done {
                height: 11px;
                margin: 0px;
                opacity: 0.3;
                padding-top: 2px;
                width: 11px;
            }

            span.task-buttons {
                .task-buttons();
            }
        }

        // info lines in task list
        &.info {
            color: @base00;
            font-size: 97%;
            font-weight: normal;
            margin-bottom: 8px;
            margin-left: 1em;
            margin-top: 8px;
        }

        // note formatting: for projects, tasks and info lines
        .note {
            border: 0;
            color: @base0;
            display: list-item;
            font-style: normal;
            font-size: 85%;
            list-style: none;
            margin-left: 0;
            margin-top: -2px;
            padding-left: 0;
            text-indent: 0;

            p {
                display: block !important;
                line-height: 130%;
                margin-left: 0;
                padding: 0 0 2px 0;
            }
            .more {
                color: @border;
                margin-left: 0.5em;
                vertical-align: bottom;
            }
        }

        .hidden-note {
            .note;
            display: none;
        }

        .reveal:hover {
            cursor: pointer;
        }
    }
}



// edit tasks

#edit-tasks {

    display: none;
    margin: 0 8px;

    textarea {
        background: @bk-yellow;
        border: 1px solid @border;
        clear: both;
        float: left;
        font: 14px verdana, helvetica,sans-serif;
        height: 500px;
        line-height: 150%;
        margin-bottom: 6px;
        margin-top: 3px;
        padding: 3px;
        width: 99%;
    }
    .find-replace-bar {
        background: @base2;
        border: 1px @border solid;
        float: right;
        margin: 0 0 3px 0;
        padding: 7px;

        input, label {
            float: right;
            margin-left: 6px;
        }
    }
    div .icon{
        float: left;
        opacity: 0.6;
    }
}


.hanging-indent(@offset: 2em) {
    padding-left: @offset;
    text-indent: -@offset;
}

.tag {
    color: @base1;
    background: @tag;
    border: 1px dotted @bk-gray;
    font-size: 90%;
    padding: 2px 4px;
    .hover();
}

.date-tag {
    .tag;
    background-color: @date-tag;
}


.strike {
    color: @strike;
    text-decoration: line-through;
}

.starred {
    background: @bk-yellow;
    padding: 0 4px 0 4px;
}

// the filters list
.filters li span {
    padding: 3px 5px 2px;
    .hover();
}


// sequence of CSS colours used for filters
.bk-yellow {
    background: @bk-yellow;
}
.bk-gray {
    background: @bk-gray;
}
.bk-blue {
    background: @bk-blue;
}
.bk-cyan {
    background: @bk-cyan;
}
.bk-green {
    background: @bk-green;
}
.bk-red {
    background: @bk-red;
}
.bk-brown {
    background: @bk-brown;
}
.bk-violet{
    background: @bk-violet;
}


// general page information
.just-info {
    color: gray;
    font-size: 90%;
    margin-left: 10px;
    margin-top: 4px;
}


// hit count or frequency
.freq {
    color: @base1;
    display: inline;
    font-weight: normal;
    font-size: 9px;
    font-family: Arial;
    margin-left: 0.35em;
    opacity: 0.8;
    vertical-align: top;
}


#footer {
    background-color: @aside;
    border-top: 1px solid @border;
    border-bottom: 1px solid @tab-border;
    border-left: 0;
    border-right: 0;
    clear: both;
    float: left;
    font-size: 90%;
    height: 20px;
    line-height: 20px;
    margin: 0;
    padding: 5px 10px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 100%;

    p {
        color: @base01;
        float: left;
    }
    a {
        padding: 0 5px 0 5px;
        text-decoration: none;
        &.logout {
            color: @violet;
            float: left;
            margin-left: 20px;
        }
    }
    .insert {
        float: right;
        margin-right: 15px;
        opacity: 0.5;
        img {
            height: 18px;
            display: none;
        }
    }
    .lang {
        color: @base01;
        float: right;
        margin-right: 10px;
    }
    select {
        border-color: @border;
        border-width: 1px;
        border-style: solid;
        color: @base01;
        float: right;
        margin: 0 15px 0 5px;
        vertical-align: top;
    }       
}

.version {
    color: @tab-border;
    font-size: 75%;
    float: left;
    margin: 15px 0 30px 0;
    text-align: center;
    width: 99.9%;
    span {
        padding: 0 5px;
    }
}

// Buttons and icons


.mid-icon() {
    height: 24px;
    margin: 2px 3px 0 3px;
    padding: 2px;
    width: 24px;
    &:hover {
        cursor: pointer;
        height: 28px;
        padding: 0px;
        width: 28px;
    }
}
.big-icon() {
    height: 32px;
    padding: 2px;
    width: 32px;
    &:hover {
        cursor: pointer;
        height: 36px;
        padding: 0;
        width: 36px;
    }
}

.icon {
    border: 0;
    margin-right: 10px;
    vertical-align: top;
    .big-icon();
}

.tool-icon {
    .mid-icon();
}



// floating toolbar for each task item
.task-buttons() {
    background: rgba(255, 255, 255, 0.30);
    left: -80px;
    padding: 3px 7px;
    position: absolute;
    text-align: right;
    top: -1px;
    width: 70px !important;

    input {
        height: 14px;
        opacity: 0.5;
        padding: 1px 3px;
        width: 14px;
        &:hover {
            cursor: pointer;
            height: 16px;
            padding: 0 2px;
            width: 16px;
        }
    }
}

input:disabled {
    opacity: 0.2;
}

.editable-box {
    margin-left: 6px;
    text-indent: 0px;

    text, textarea {
        background: @bk-yellow;
        border: 1px solid @border;
        font: 14px "Segoe UI";
        margin: 0 0px 3px 7px;
        margin-left: 5px;
        padding: 2px 0 2px 6px;
        position: relative;
        width: 97%;
    }
    img {
        left: 0;
        margin-left: 3px;
        margin-right: 3px;
        position: absolute;
        .mid-icon();
    }
    img.top {
        top: 1px;
    }
    img.bottom {
        top: 33px;
    }
}


// Sliding message banner at top
#message-banner {
    color: @base01;
    height: 20px;
    left: 0;
    opacity: 0;
    padding: 6px 10px;
    position: absolute;
    text-align: center;
    top: -20px;
    z-index: 10;
}



// the syntax cheatsheet

#cheatsheet {
    clear: both;
    color: @base00;
    float: left;
    div {
        float: right;
        height: auto;
    }
    table {
        background: @base2;
        border: 1px solid @border;
        border-collapse: collapse;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    th, td {
        border-collapse: collapse;
        border-color: @border;
        border-style: solid;
        border-width: 1px;
        padding: 0.4em;
    }
    td {
        padding-left: 0.8em;
    }
}


// LOGIN form

#login-msg {
    height: 240px;
    left: 50%;
    margin: 0 0 0 -230px;
    padding: 30px 0;
    position: absolute;
    top: 0;
    width: 400px;
    z-index: 0;
    p {
        color: @border;
        text-align: center;
        font-size: 24px;
        line-height: 30px;
    }
}


#login-err {
    height: 240px;
    left: 50%;
    margin: -130px 0 0 230px;
    padding: 30px 0;
    position: absolute;
    top: 50%;
    width: 240px;
    z-index: 0;
    ul {
        color: @red;
        text-align: left;
        font-size: 15px;
        line-height: 20px;
    }
}
   

#login-form {

    font-family: Segoe UI, Arial;
    height: 240px;
    margin: -150px 0 0 -230px;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 400px;
    z-index: 0;

    .logo {
        
    }
    
    form {
        border: 1px solid @border;
        border-top: 0;
        padding: 30px 30px 26px 30px;
    }

    form#register {
        display: none;
    }

    fieldset {
        border: 0;
        padding: 0;
        margin: 0;
    }

    .inputs input {
        border: 1px solid @border;
        margin: 0 0 10px 0;
        padding: 5px 10px 5px 10px;
        width: 316px;
    }

    .inputs input:focus {
        background-color: #fff;
        border-color: #e8c291;
        outline: none;
    }

    .actions {
        margin: 25px 0 0 0;
    }

    .submit {		
        background-color: @aside;
        border-color: @tab-border;
        border-style: solid;
        border-width: 1px;
        color: @base02;
        cursor: pointer;
        float: left;
        font: bold 15px Arial, Helvetica;
        height: 35px;
        padding: 0;
        text-shadow: 0 1px 0 rgba(255,255,255,0.5);
        width: 120px;
    }

    .submit:hover, .submit:focus {		
        background-color: @base2;
    }	

    .submit:active {		
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;		
        -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
        outline: none;
    }

    .submit::-moz-focus-inner {
        border: 0;
    }

    .actions a {
        color: @blue;    
        float: right;
        line-height: 35px;
        margin-left: 10px;
    }

}
