#tabs {
    height: 29px;
    width: 100%;
    padding-top: 6px;
    background: #FBFBFB;
}

#tabs ul, #tabs li {
    border:0; margin:0;
    padding:0;
    list-style:none;
}
#tabs ul {
    /*border-bottom:solid 1px #DEDEDE;*/
    border-bottom:solid 1px #D7D5D4;
    height:29px;
    padding-left:20px;
}
#tabs li {
    float:left;
    margin-right:2px;
}

.tab span{
	background:url(img/tab-round.png) right 60px;
	color:#666666;
	display:block;
	height:30px;
	line-height:30px;
	text-decoration:none;
}
.tab span span{
	background:url(img/tab-round.png) left 60px;
	display:block;
	height:30px;
	margin-right:14px;
	padding-left:14px;
}
.tab span:hover{
	background:url(img/tab-round.png) right 30px;
    text-shadow: 0 0 2px #999;
	display:block;
    cursor:pointer;
}
.tab span:hover span{
	background:url(img/tab-round.png) left 30px;
	display:block;
}

/* -------------------------------- */
/* 	ACTIVE ELEMENTS					*/
.active span:hover, .active span {
	background:url(img/tab-round.png) right 0 no-repeat;
    font-weight:bold;
}
.active span:hover {
    text-decoration:none;
    text-shadow: 0 0 2px #999;
    cursor:pointer;
}
.active span span, .active span:hover span{
	background:url(img/tab-round.png) left 0 no-repeat;
}

/* ADD NEW TAB */
.icon-tab span span{
    color:red;
}
.icon-tab span img {
    border:0;
    height:16px;
    width:16px;
    padding-top:7px;
}